body{
    background-image:  linear-gradient(
        to bottom,#A12CCE,#7248cf
        );
    min-height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.group{
    background-color: #eee;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.title{
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
}
.title img{
    width: 40px;
    margin-right: 10px;
}
.des{
    padding: 0 20px;
    color: #555;
}
.tags-input{
    margin: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
}
.tags-input ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.tags-input li{
    padding: 5px;
    margin:  0 5px 5px 0;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
}
.tags-input li .remove{
    width: 12px;
    height: 12px;
    background-image: url(img/tag.jpg);
    background-size: cover;
    margin-left: 10px;
}
.tags-input input{
    order: 1;
    border: none;
    outline: none;

}
.removeAll{
    padding: 20px;
    text-align: right;
}
.removeAll button{
    background-image:  linear-gradient(
    to bottom,#A12CCE,#7248cf
    );
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}